* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* header page */
.header-arrow-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.github-icon-header {
  font-size: 1.75rem;
  margin-right: 10px;
}

.email-icon-header {
  font-size: 2rem;
}

.email-icon-header:hover,
.github-icon-header:hover {
  color: silver;
}

/* project component */

.demo-icons:hover {
  .demo-icon {
    color: silver;
  }
}

.demo-icon {
  width: 25px;
  height: 25px;
  color: #001220;
  font-weight: 600;
  background-color: 'brand.400';
}

.demo-icon:hover {
  color: silver;
  cursor: pointer;
}

.github-icon {
  width: 45px;
  height: 25px;
  fill: #001220;
  background-color: 'brand.400';
}

.github-icon:hover {
  fill: silver;
  cursor: pointer;
}
